<%- include('../includes/header') %>
<div class="col-md-12">
    <div class="card card-primary">
  
      <div class="card-header">
        <h3 class="card-title">Edit</h3>
      </div>

    <form action="/organization/<%= organization._id %>/edit" method="POST">
      <div class="card-body">
        <div class="form-group">
            <label>Name</label>
            <input type="text" name="name" class="form-control" autocomplete="off" value="<%= organization.name %>" required>
        </div>
        <div class="form-group">
            <label>Description</label>
            <input type="text" name="description" class="form-control" value="<%= organization.description %>" autocomplete="off">
        </div>
        <div class="form-group">
          <label>Phone</label>
          <input type="text" name="phone" class="form-control" autocomplete="off" placeholder="+998901234567" value="<%= organization.phone %>">
        </div>
        <div class="form-group">
          <label>Website</label>
          <input type="text" name="website" class="form-control" autocomplete="off" placeholder="http://example.com" value="<%= organization.website %>">
        </div>
        <div class="form-group">
          <label>Slug</label>
          <input type="text" name="slug" class="form-control" autocomplete="off" value="<%= organization.slug %>" required>
        </div>
        <div class="form-group">
          <label>Picture</label>
          <input type="text" name="picture" class="form-control" autocomplete="off" placeholder="http://example.com/picture.jpg" value="<%= organization.picture %>" required>
        </div>
        <div class="form-group">
          <label>Active</label><br/>
          <input type="checkbox" name="is_active" checked>
        </div>
        <% for (let index = 0; index < organization.social.length; index++) { %>
        <div class="row" id="social-row-<%= index + 1 %>">
          <div class="col-5">
            <label>Social name</label>
            <input type="text" name="social[<%= index + 1 %>][name]" class="form-control" autocomplete="off" placeholder="Telegram" value="<%= organization.social[index].name %>">
          </div>
          <div class="col-5">
            <label>Social link</label>
            <input type="text" name="social[<%= index + 1 %>][link]" class="form-control" autocomplete="off" placeholder="http://t.me/channel" value="<%= organization.social[index].link %>">
          </div>
          <div class="col-1">
            <label>Action</label>
            <a class="btn-default btn" onclick="removeElement('social-row-<%= index + 1 %>');"><i class="fa fa-trash-alt nav_icon"></i></a>
          </div>
        </div>
        <% } %>
        <a id='add-new-social'><i class="fas fa-plus-circle"></i></a><br>
        <% for (let index = 0; index < organization.direction.length; index++) { %>
        <div class="row" id="direction-row-<%= index + 1 %>">
          <div class="col-10">
            <label>Direction</label>
            <input type="text" name="direction[<%= index + 1%>][name]" class="form-control" autocomplete="off" value="<%= organization.direction[index].name %>">
          </div>
          <div class="col-1">
            <label>Action</label>
            <a class="btn-default btn" onclick="removeElement('direction-row-<%= index + 1 %>');" ><i class="fa fa-trash-alt nav_icon"></i></a>
          </div>
        </div>
        <% } %>
        <a id='add-new-direction'><i class="fas fa-plus-circle"></i></a><br>
        <button type='submit' class="btn btn-success">Save</button>
        <a href="/organization/<%= organization._id %>" class="btn-default btn">Back</a>
      </div>
    </form>
  </div>
</div>

<script>
  let allSocials = parseInt(10, '<%= organization.social.length %>');
  let allDirections = parseInt(10, '<%= organization.direction.length %>');
  document.getElementById('add-new-social').onclick = function () {
    allSocials++;
      let template = `
            <div class="row" id="social-row-${allSocials}">
              <div class="col-5">
                  <label>Social name</label>
                  <input type="text" name="social[${allSocials}][name]" class="form-control" autocomplete="off" placeholder="Telegram">
              </div>

              <div class="col-5">
                  <label>Social link</label>
                  <input name="social[${allSocials}][link]" class="form-control" autocomplete="off" placeholder="http://t.me/channel">
              </div>
              <div class="col-1">
                  <label>Action</label>
                  <a class="btn-default btn" onclick="removeElement('social-row-${allSocials}');"><i class="fa fa-trash-alt nav_icon"></i></a>
              </div>
            </div>
          `;

      let container = document.getElementById('social-row-1');
      container.insertAdjacentHTML('afterend', template);
  }
  document.getElementById('add-new-direction').onclick = function () {
      allDirections++;
      let template = `
            <div class="row" id="direction-row-${allDirections}">
              <div class="col-10">
                  <label>Direction</label>
                  <input type="text" name="direction[${allDirections}][name]" class="form-control" autocomplete="off">
              </div>

              <div class="col-1">
                  <label>Action</label>
                  <a class="btn-default btn" onclick="removeElement('direction-row-${allDirections}');"><i class="fa fa-trash-alt nav_icon"></i></a>
              </div>
            </div>
          `;

      let container = document.getElementById('direction-row-1');
      container.insertAdjacentHTML('afterend', template);
  }
  function removeElement(div) {
    if (div != 'social-row-1') {
      if (div != 'direction-row-1') {
        var d = document.getElementById(div);
        d.remove();
      }
    }
  }
</script>

<%- include('../includes/footer') %>
